Window {

    background-color: #C0B2B2;

}

QGroupBox {

    background-color: #E8DCDC;

}

QRadioButton, QCheckBox, QPushButton {

    font-size: 14px;
    background-color: #E8E8E8;
    border-style: outset;
    border-width: 2px;
    border-color: beige;
    border-radius: 10px;
    height: 40px;

}

QPushButton:pressed {

    background-color: #8C8C8C;
    border-style: inset;

}

QTabWidget, QScrollArea {

    background-color: #E8DCDC;

}

QToolBox:tab {

    font-size: 14px;
    background-color: #A3BBD6;
    border-style: outset;
    border-width: 2px;
    border-radius: 4px;
    border-color: beige;

}

QTabWidget, QLabel {

    font-size: 14px;    

}

QTabWidget:pane {

    border-top: 2px solid #A56262;
    background-color: #E8DCDC;

}

QPlainTextEdit {

    background-color:white;
    font-size: 18px;
    font-family: Georgia;

}
